body {
  background-color: #66C;
  color: #fff;
}
h1 {
  color: #fff;
  text-align: center;
}
a:hover{
    color: #794044;
  }
#demobox {
   background-color: #fff ;
   margin-right: 1130px ;
 }
 img {
     border-radius: 50%;
     margin-right: 500;
     margin-left: 500;


 }
